

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    // font-weight: <weight>;
    font-style: normal;
    text-align: center;
  }

/* App Component**/
.nav-links {
    color: black;
    background-color: #03A9F4;
    margin: '0 15px';
    color: 'white';
    text-decoration: none;
    font-size: font-size-large;
    padding: 10px;
    margin-inline: 1rem;
}

/* Landing Component**/
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.landing-logo {
  position: absolute; /* Allows the logo to be placed anywhere within the parent */
  top: 20px; /* Distance from the top of the page */
  left: 20px; /* Distance from the left of the page */
  width: 80px;
  height: auto;
}

.landing-links {
  list-style: none; /* Remove default bullet points */
  display: flex;
  justify-content: space-around; /* Evenly space items horizontally */
  padding: 0;
  margin: 20px 0;
  // width: 80%;
}

.landing-links li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px; /* Space between the image and text */
}

.landing-links h3 {
  font-size: 1.2rem;
  margin: 0;
}


/* SignupLogin */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: gray; 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forms-page {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
}

.forms-container {
  display: flex;
  gap: 50px;

}

.signup-form, .login-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.signup-form h2, .login-form h2 {
  margin-bottom: 20px;
}

.signup-form label, .login-form label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.radio-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
}

/* SignupLogin */

/* Footer */

.page-footer {
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

/* Footer */